@model _04_Data.Datos.pelicula

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>pelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.añolanzamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.añolanzamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sinopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.premios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.premios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.presupuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.presupuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recaudacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recaudacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor.actor_principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor.actor_principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyia.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyia.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.director.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.director.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
